DATABASE_URL=mongodb+srv://XXXXXXX:XXXXXX@cluster0.r22kogv.mongodb.net
PORT=5000
BCRYPT_SALT_ROUNDS=10
JWT_SECRET=your secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
JWT_REFRESH_TOKEN_SECRET=your secret 
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
NODE_ENV=development
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173

MAIL_USER=your-smtp-user@example.com
MAIL_PASS=your-smtp-password-or-app-password
MAIL_TO=info@jplanettire.net,info@jplanettire.co.uk
MAIL_FROM=your-smtp-user@example.com
MAIL_FROM_NAME=J Planet Website
MAIL_SERVICE=gmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
